* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}



/* utilities */


.container {
    height: 100px;
    width: 80%;
    margin: auto;
}

.float{
    float: left;
}


.w-10 {
    width: 10%;
  }
  .w-20 {
    width: 20%;
  }
  .w-30 {
    width: 30%;
  }
  
  .w-50 {
    width: 50%;
  }
  .w-60 {
    width: 60%;
  }
  .w-70 {
    width: 70%;
  }



/* header */

.top-header {
    background-color: #3161e0;
    width: 100%;
    height: 100px;
    line-height: 100px;
}


img {
    vertical-align: middle;
}

.top-header nav {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.top-header nav li {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
}

.top-header nav li a {
    text-decoration: none;
    color: white;
    margin: 0 30px;
}

.top-header .btn {
    vertical-align: middle;

}

.top-header li a:hover {
    text-decoration: underline;
  }


.btn {
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    height: 40px;
    width: 85px;
    margin: 25px 0px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: black;
}

/* bottom header */

.bottom-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
    text-align: center;
    color: white;
    position: relative;
}
.content {
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bottom-header h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

.bottom-header p {
    font-size: 21px;
    line-height: 40px;
  }


  .large-btn {
    height: 60px;
    width: 285px;
    border-radius: 50px;
    line-height: 60px;
    font-size: 25px;
  }


  .dark-btn {
      background-color: #23272a;
      color: white;
      height: 60px;
    width: 350px;
  }

  /* section */

  .first-section,
  .second-section,
  .third-section {
      
    height: 600px;
    margin: 50px auto;
  }

 

  .first-section .text,
  .second-section .text,
  .third-section .text {
      width: 400px;
      margin-left: 50px;
      margin-top: 20px;

  }

  .first-section .text h2,
  .second-section .text h2,
  .third-section .text h2 {
      font-size: 60px;
  }

  .first-section .text p,
  .second-section .text p,
  .third-section .text p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}

    .first-section .float,
    .second-section .float,
    .third-section .float {
    margin-left: 40px;
}

/* second-section */
